<% content_for :header_content do %>
  <%= link_to image_tag("/images/back_image.png", {:alt => 'example', :id=>"header-img-back"}), {:controller=>"comments", :action => 'show', :id => @comment.id} %>

  <div id="header-text">
    Comment Photo
  </div>
  <%= link_to(image_tag("/images/home_image.png", {:alt => 'example', :id=>"header-img-home"}), {:controller=>'entities', :action => 'show', :id => session[:home_entity_id]}) %>
<% end %>

<div class="entity-content">

  <% if @comment.image_url != nil && @comment.image_url.empty? == false %>
      <%
        small_url = @comment.image_url
        url = @comment.image_url.sub(/_small/,"")

      %>
      <%= image_tag url, {:width => 570, :height => 870} %>

  <% end %>
</div>
