<!DOCTYPE html> 
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr"> 
<head> 
	<title>Semantic Geotagging</title> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	
	<link href="stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" /> 
 	<link rel="stylesheet" type="text/css" href="stylesheets/jwebsocket.css" />
 
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
 		
 		<!-- javascript_include_tag 'websocket/jWebSocket.js', :cache => true %>
 		<= javascript_include_tag 'websocket/hyperwallPlugIn.js', :cache => true %>
 		<= javascript_include_tag 'websocket/jwsJDBCPlugIn.js', :cache => true %>
 		<= javascript_include_tag 'websocket/jwsFilesystemPlugIn.js', :cache => true %>
 		
 		<= javascript_include_tag 'hyperwall/modernizr-1.6.min.js', :cache => true %>
 		<= javascript_include_tag 'hyperwall/jquery.ba-throttle-debounce.min.js', :cache => true %>
 		<= javascript_include_tag 'hyperwall/bigtext.js', :cache => true %>
 		
 		<= javascript_include_tag 'hyperwall/part1.js', :cache => true %>
 		<= javascript_include_tag 'hyperwall/part2.js', :cache => true %-->

        <script type="text/javascript" src="/javascripts/websocket/jWebSocket.js"></script>
        <script type="text/javascript" src="/javascripts/websocket/hyperwallPlugIn.js"></script>
        <script type="text/javascript" src="/javascripts/websocket/jwsJDBCPlugIn.js"></script>
        <script type="text/javascript" src="/javascripts/websocket/jwsFilesystemPlugIn.js"></script>


        <script type="text/javascript" src="/javascripts/hyperwall/modernizr-1.6.min.js"></script>
        <script type="text/javascript" src="/javascripts/hyperwall/jquery.ba-throttle-debounce.min.js"></script>
        <script type="text/javascript" src="/javascripts/hyperwall/bigtext.js"></script>

        <script type="text/javascript" src="/javascripts/hyperwall/part1.js"></script>
        <script type="text/javascript" src="/javascripts/hyperwall/part2.js"></script>

        <script type="text/javascript" src="/javascripts/geotagging.js"></script>

        <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?sensor=true"> 
        </script>

		<script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"> 
        </script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>  

        

        <script type="text/javascript"> 

          function initialize() {
            var cmupoint = new google.maps.LatLng(37.41046,-122.059243);
            var mapOptions = {
              zoom: 17,
              center: cmupoint,
              disableDoubleClickZoom: true,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            	map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);
				geotaggingInitialize();
			}
							
        </script> 
 
 
</head> 
<body onload="initialize(); initPage(); logon(); startMouse(); " onunload="exitPage();">
<!-- Header -->

<%= yield %>
<!-- Main -->

<!-- End Main -->

</body>
</html>